@page "/produkty"
@namespace FairBank.Web.Products.Pages

<PageHeader Title="PRODUKTY" />

<div class="page-content">
    <ContentCard Title="Produkty">
        <ChildContent>
            <p>Brzy zde najdete naše produkty.</p>
        </ChildContent>
    </ContentCard>
</div>
