<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="_content/FairBank.Web.Shared/css/vabank-theme.css" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>
<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_content/FairBank.Web.Shared/js/vabank-interop.js"></script>
    <script src="_framework/blazor.web.js"></script>
</body>
</html>
